<%= form_for(@bus_stop) do |f| %>
  <% if @bus_stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus_stop.errors.count, "error") %> prohibited this bus_stop from being saved:</h2>

      <ul>
      <% @bus_stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus %><br>
    <%= f.text_field :bus %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :bus_id %><br>
    <%= f.text_field :bus_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
